/build/*
!/build/.keep_me
__pycache__
*.bin
*.vcd
*.sav
*.pdf
*.pyo
*.pyc
/*.v
/dist
.eggs

.mypy_cache
.vscode
linien_influxdb.egg-info
linien_influxdb.egg-info/*
*.egg-info
*.egg-info/*

linien_influxdb/_version.py